<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700,900" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" -->
    <!-- crossorigin="anonymous"> -->
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="weatherApp" ng-controller="weatherAppController">
    <div class="main">
        <h1>Your Forecast</h1>
        <div ng-hide="showWeatherDetails" class="userPrompt">
            <div>Would you like to get the weather for your current location?</div>
            <span>
                <button ng-click="getLocation()">YES</button>
                <button ng-click="useDefault()">NO</button>
            </span>
        </div>

        <div ng-show="showWeatherDetails" class="weatherSearchAndDisplay">
            <div class="selectZipCode">
                <input ng-model="city" placeholder="Zip Code" class="addZipCode" />
                <button ng-click="getWeatherByZip()" class="searchButton">SEARCH</button>
            </div>
            <div class="results">
                <div class="currentWeather">
                    <h2>Today's weather in {{name}}</h2>
                    <h4>Current temperature: {{currentTemp}}</h4>
                    <h4>Today's high: {{currentHigh}}</h4>
                    <h4>Today's low: {{currentLow}}</h4>

                </div>
                <div layout="row" class="fiveDayForecast">
                    <h2>Five-Day Forecast for {{name}}</h2>
                    <div class="forecastContainer">
                        <div class="forecastRepeat" ng-repeat="day in fiveDayForecast">
                            <h3>{{day.dayOfWeek}}</h3>
                            <h4>High: {{day.main.temp_max}}</h4>
                            <h4>Low: {{day.main.temp_min}}</h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>

</body>

</html>