.main {
  background-color: #f1f3f4;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.currentWeather {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.userPrompt {
  text-align: center;
}

.selectZipCode {
  text-align: center;
  height: 1.3em;
}

.addZipCode {
  height: 100%;
}

button {
  height: 100%;
  background-color: #1a7894;
  color: #fcfdfe;
}

.forecastRepeat {
  display: inline-block;
  padding: 0 5px;
}

.forecastContainer {
  text-align: center;
}
